<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="DataProviderType" value="Sql"/>
  <add key="ConnectionString" value="Data Source=192.168.0.229\SQLEXPRESS;Initial Catalog=sipas;User Id=acr;Password=acr."/>
  <add key="applicationName" value="sipas"/>
  <add key="ErrorLevel" value="6" />
  <add key="LogPath" value="C:\Temp\" />
  <add key="Usuario" value="" />
  <add key="Clave" value="" />
  <add key="Dominio" value="" />
</configuration>